#page-1__name {
	position: fixed;
	z-index: 1;
	color: #c5dfe3;
}

#page-1__name p {
	font-size: 3em;
	font-family: 'Oswald', cursive;
}

@media only screen and (max-width: 700px) {
	#page-1__name p {
		font-size: 4em;
	}
}

canvas {
	position: absolute;
	height: 100vh;
	width: 100vw;
}
#landing-mountains {
	z-index: 1;
	position:absolute;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
}

#landing-mountains__bg {
	width: 100vw;
	min-width: 1200px;
	position: absolute;
	bottom: -50px;
	transition: bottom 0.7s;
}

#landing-mountains__fg {
	width: 100vw;
	min-width: 550px;
	position: absolute;
	bottom: -120px;
}

#page-2 {
	background-color: #00181C;
}