canvas {
	position: relative;
}
#landing-mountains {
	position:absolute;
	overflow: hidden;
}

#landing-mountains__bg {
	z-index: 1;
	position:absolute;
	background-image: url("../images/bg.png");
	background-position-y: 95%;	
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	transition: background-position-y 0.7s;
}

#landing-mountains__fg {
	z-index: 2;
	position:absolute;
	background-image: url("../images/fg.png");
	background-position-y: 105%;	
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	object-fit: cover;
}

#page-2 {
	background-color: #010C16;
}