
#page-2 {
	background-color: var(--bg-color);
	position:relative;
}

#introduction {
	height: 100vh;
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	margin: 0 5vw;
}

#introduction__text {
	color: var(--red);
	font-size: 2em;
	text-align: center;
	font-family: 'Oswald', cursive;
	cursor: auto;
}

#introduction__subtext {
	z-index: 1;
	text-align:center;
	color: var(--secondary-color);
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	cursor: pointer;
	
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-name: bounce-3;
	animation-timing-function: ease-in-out;
}

.greeting {
	margin-left: 10vw;
	margin-top: 15vh;
}

.greeting__text {
	color: var(--blue-white);
	font-size: 8em;
	font-family: var(--title-font);
	margin: 0 5%;
	font-weight: 500;
	line-height: 1em;
}

#greeting-hi, #greeting-my-name, #greeting-name {
	opacity: 0;
}

#greeting-my-name {
	/* min-height: 100px; */
	/* width: 20px; */
	/* overflow: hidden; */
}

#greeting-name {
	/* min-height: 100px; */
	/* width: 20px; */
	overflow: hidden;
}


.greeting__text--big-yellow {
	color: var(--yellow);
	font-size: 14em;
}

.greeting__text--red {
	color: var(--red);
}

.content-container {
	z-index: 0;
	position: absolute;
	top: 0;
	padding: auto;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	/* visibility: auto; */
	/* display:none; */
}

.content-inner-container {
	display: flex;
	align-items: stretch;
	justify-content: center;
	max-width: 80vw;
	
}

.content-container__text {
	font-family: var(--text-font);
	color: var(--white);
	width: 500px;
	font-size: 1.2em;
	line-height: 1.8em;
	overflow: hidden;
}

#content-container__divider{
	width: 10px;
	margin-right: 20px;
	/* height: 100px; */
	background-color: var(--red);
}

.bar-left-animation {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: bounce-left;
	animation-timing-function: ease-out;
}

.bar-right-animation {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: bounce-right;
	animation-timing-function: ease-out;
}


.content-container__skills {
	width: 0;
	overflow: hidden;
	display:flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	margin: 18px 0px;
}

.skill-bar {
	background: #08283B;
	overflow: hidden;
	text-align: right;
	padding: 7px;

	font-family: var(--text-font);
	font-size: 1em;
	color: var(--secondary-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 700px) {
	.greeting__text {
		font-size: 4.5em;
	}
	.greeting__text--big-yellow {
		color: var(--yellow);
		font-size: 8em;
	}

	.content-container__text {
		font-size: 1em;
	}
	
	#introduction__text {
		font-size: 1.8em !important;
	}
}

@keyframes bounce-left {
	0%   { transform: translateX(0); }
	30%  { transform: translateX(-8px); }
	40%  { transform: translateX(0); }
	100% { transform: translateX(0); }
}

@keyframes bounce-right {
	0%   { transform: translateX(0); }
	30%  { transform: translateX(8px); }
	40%  { transform: translateX(0); }
	100% { transform: translateX(0); }
}


@keyframes bounce-3 {
	0%   { transform: translateY(0); }
	30%  { transform: translateY(-10px); }
	50%  { transform: translateY(0); }
	100% { transform: translateY(0); }
}