#page-3 {
	background-color: var(--bg-color);
	position:relative;
}

.work__title {
	font-size: 8em;
	font-family: var(--title-font);
	margin: 5% 10%;
	font-weight: 500;
	line-height: 1em;
	color: var(--yellow);
	font-size: 14em;
}

h1 {
	font-family: Raleway;
	font-size: 1.8em;

	color: var(--red);
}

.work-content-container p span {
	font-family: Raleway;
	font-weight: 500;
	line-height: 26px;

	color: var(--yellow);
}

.work-content-container p {
	font-family: Raleway;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 26px;

	color: var(--white);
}

.work-content-container p strong {
	font-weight: 500;
}

.page-3-container {
	display: flex;
	justify-content: center;
}

.work-divider {
	min-width: 10px;
	margin-right: 20px;
	background-color: var(--red);
	border-radius: 2px;
	margin: 0 100px;

}

.work-content-container {
	display: flex;
}

#work-container {
	overflow: hidden;
}

#study-container {
	overflow: hidden;
}

@media only screen and (max-width: 649px) {
	.work-content-container {
		margin: 40px;
	}

	.work-divider {
		margin: 0 20px;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: bounce-right;
		animation-timing-function: ease-out;
	}

	#work-container {
		overflow: hidden;
		width: 0;
		display: none;
	}
}

@media only screen and (min-width: 650px) and  (max-width: 900px) {
	.work-content-container {
		margin: 40px;
	}

	.work-divider {
		margin: 0 20px;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: bounce-right;
		animation-timing-function: ease-out;
	}
	#work-container {
		overflow: hidden;
		width: 0;
		display: none;
	}
}

@media only screen and (min-width: 900px) and (max-width: 1400px) {
	#work-container {
		overflow: hidden;
		width: 0;
		display: none;
	}
	.work-divider {
		margin: 0 20px;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-name: bounce-right;
		animation-timing-function: ease-out;
	}
}

@media only screen and (min-width: 1401px) {
	
}
